<h1>All <%= @brand_name %> Products</h1> <!-- Page Heading @brand_name in erb tags makes this variable -->

<div class="row"><!-- begginging of bootstrap row section -->
    <% @products_by_brand.each do |product| %><!-- start of each loop -->
    <div class="col-md-4"><!-- sets bootstrap column width for each iteration -->
        <div class="well center-it"><!-- centers the following content within the bootstrap column? -->
            <p><%= image_tag product.image.url, width: '100%' %></p><!-- displays product image and sets the width -->
            <h3><%= link_to product.name, product %></h3><!-- displays product name and provides link to show page -->
            <p><%= number_to_currency product.price %></p><!-- see commenting on all items view page -->
            <p>
                <a href="#" data-toggle="modal" data-target="#myModal_<%= product.id %>">
                    <span class="glyphicon glyphicon-plus"></span> quick info
                </a>
            </p>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><%= product.name %></h4>
          </div>
          <div class="modal-body">
            <p>Price: <%= number_to_currency(product.price) %></p>
            <p><%= product.description %></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</div>

