<%= form_for(product) do |f| %><!-- start of form. targets the 'product' that is passed in by the render element of other pages. -->
  <% if product.errors.any? %><!-- start of if section for dealing with errors -->
    <div id="error_explanation"><!-- sets div id. is this for bootstrap styling?  -->
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2><!-- displays error message, and pluralizes the word error, if there are more than one -->

      <ul><!-- opening tag for unordered list -->
      <% product.errors.full_messages.each do |message| %><!-- iterates through each error -->
        <li><%= message %></li><!-- displays the error message in a list item -->
      <% end %><!-- end of each loop -->
      </ul><!-- closing unordered list tag -->
    </div><!-- closing div tag for id="error_explanation" above -->
  <% end %><!-- end of if statement -->

  <div class="form-group"><!-- start of form section for name -->
    <%= f.label :name %><!-- displays the name of the product for the input field label -->
    <%= f.text_field :name %><!-- provides a text field for inputing name for the new product  -->
  </div><!-- end of form group -->

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="form-group">
    <%= f.label :brand %>
    <%= f.text_field :brand %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div>

  <div class="form-group">
    <%= f.select(:category_id, @categories.collect {|c| [c.name, c.id]}, {include_blank: "Please Select a Category"}) %>
  </div>
  
  <div class="form-group">
    <strong>Upload Product Image: </strong>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
